@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  background-color: gainsboro;
}

.container  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 100px;
  height: 100px;
  background: mediumvioletred;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger div {
  background-color: rebeccapurple;
  height: 10px;
  width: 70%;
  margin: auto;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  text-shadow: 1px 1px 2px darkgrey;
}




a:hover {
  color: ghostwhite;
  
  transform:movediv1 5s;
  animation: removediv 2s;
  transform: movediv2 5s;
}

#top{

  transform:removediv1 5s;
}

#middle{


  animation:removediv 1s;
   display:none 2s; 

}

#bottom{

  transform:movediv2 5s;
}

  @keyframes movediv1{
   0% { transform: rotate (0deg);
   }
   100% { transform: rotate(45deg);

   }}
 
   @keyframes removediv{  
      0%  {
        opacity:1;
      }
      100% {
        
        opacity:0 ;
      }
 }

 @keyframes movediv2{
  0% {transform:rotate (0 deg);
  }
  100% {transform: rotate(45deg);
  }
 }


